@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
.hvr-grow {
  width: 100%; }

/* General Demo Style */
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.svg#fontawesome") format("svg"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0; }

/* Reset */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da; }

a {
  color: #f0f0f0;
  text-decoration: none; }

a:hover {
  color: #000; }

.container > header {
  width: 90%;
  max-width: 70em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em 1.875em; }

.container > header {
  padding: 2.875em 1.875em 1.875em; }

.container > header h1 {
  font-size: 2.125em;
  line-height: 1.3;
  margin: 0;
  float: left;
  font-weight: 400; }

.container > header span {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding: 0 0 0.6em 0.1em; }

.container > header nav {
  float: right; }

.container > header nav a {
  display: block;
  float: left;
  position: relative;
  width: 2.5em;
  height: 2.5em;
  background: #fff;
  border-radius: 50%;
  color: transparent;
  margin: 0 0.1em;
  border: 4px solid #47a3da;
  text-indent: -8000px; }

.container > header nav a:after {
  content: attr(data-info);
  color: #47a3da;
  position: absolute;
  width: 600%;
  top: 120%;
  text-align: right;
  right: 0;
  opacity: 0;
  pointer-events: none; }

.container > header nav a:hover:after {
  opacity: 1; }

.container > header nav a:hover {
  background: #47a3da; }

.icon-drop:before,
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px; }

.container > header nav a:hover:before {
  color: #fff; }

.icon-drop:before {
  content: "\e000"; }

.icon-arrow-left:before {
  content: "\f060"; }

html {
  height: 100%; }

body {
  background-color: #CFD8DC;
  color: #212121;
  font-family: Roboto, sans-serif;
  height: 100%; }

footer {
  background-color: #455A64;
  text-align: center;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 7%;
  padding: 2px 0; }

.copyright {
  color: #ffffff;
  font-size: .8em;
  margin-top: -20px; }

h1, h2, h3, h4, h5 {
  margin: 20px 0 0 10px; }

h1 {
  font-size: 60px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 15px; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.center {
  text-align: center; }

.orange {
  color: #FF5722; }

.title {
  margin-left: 10px; }

.skinny {
  width: auto;
  margin-left: 35%; }

.col-sm-4 {
  width: 25%;
  display: inline-block;
  vertical-align: top; }

#contactInfo a {
  color: #FF5722; }
  #contactInfo a:hover {
    text-decoration: underline; }

.fa {
  color: #212121; }
  .fa:hover {
    color: #FF5722; }

.intro {
  color: #727272;
  display: inline-block;
  text-align: center;
  margin: 5% 10% 0 10%; }

@media (min-width: 995px) {
  .headshot {
    display: inline-block; } }
@media (max-width: 995px) {
  .headshot {
    display: none; } }
.home-header {
  position: absolute;
  top: 30px;
  left: 7px;
  font-size: 1.1em;
  width: 180px;
  height: 48px; }

.home-button {
  width: 180px;
  height: 48px; }

.row-explore {
  margin-top: 25px;
  text-align: center; }

.primary-btn {
  height: 50px;
  border-radius: 4px;
  background-color: #03A9F4;
  color: #ffffff;
  border: none;
  font-size: 1.2em; }
  .primary-btn:hover {
    background-color: #0288D1;
    cursor: pointer; }

.navigation {
  background-color: #222;
  padding-top: 1px;
  z-index: 90; }

.cbp-hropen .cbp-hrsub {
  z-index: 100; }

.cbp-hrmenu {
  background-color: #222; }
  .cbp-hrmenu > ul, .cbp-hrmenu .cbp-hrmenu .cbp-hrsub-inner {
    width: 77%; }

#cbp-hrmenu.cbp-hrmenu > ul > li > a {
  color: #ffffff;
  width: 180px; }
  #cbp-hrmenu.cbp-hrmenu > ul > li > a:hover:after {
    content: '\f0d7';
    margin-left: 5px; }
#cbp-hrmenu.cbp-hrmenu span a {
  color: #ffffff;
  font-weight: 700;
  padding: 1em 2em; }
  #cbp-hrmenu.cbp-hrmenu span a:hover {
    color: #FF5722; }

.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
  color: #FF5722; }
