// Variables and Colors
@import '_variables.scss';
@import '_colors.scss';

.mdl-layout__header {
  background: url(../img/SunOverDock.jpg) no-repeat center;
  //background-color: #2a2b2a;
  width: 100%;
  height: auto;
}
.portfolio-logo {
  display: none;
  background: url(../img/headshot.jpg);
}
footer {
  background-image: url(../images/footer-background.png);
}
//@import '_default.scss';
//@import '_custom.scss';
//@import '_navigation.scss';

//outside sources
//@import '../components/component.scss';
//@import '../components/hover.scss';
