link(rel='stylesheet', href='css/_gallery.css', type='text/css' )
.center
    h1 Design Portfolio
    h2 I design and create amazing things.
    p.lead From personal to professional, I create products that everyone can use and love.
    p.lead See my &nbsp;
      a(href="http://www.coroflot.com/ajolicoeur/portfolio", target="top").orange Coroflot page for a larger selection.
    hr

p.title Web Application Designs
.box
  .box-inner
    a(href='img/Dashboard.png' target='top').hvr-grow
      img(src="img/Dashboard.jpg")
      .title-box Dashboard Concept
.box
  .box-inner
    a(href='img/ProjectDash.png' target='top').hvr-grow
      img(src="img/ProjectDash.png")
      .title-box Project Breakdown
.box
  .box-inner
    a(href='img/DataDash.png' target='top').hvr-grow
      img(src="img/DataDash.png")
      .title-box Detailed Project Info
.box
  .box-inner
    a(href='img/OverallDash.png' target='top').hvr-grow
      img(src="img/OverallDash.png")
      .title-box Dashboard History
.box
  .box-inner
    a(href='img/ServerConfigDash.png' target='top').hvr-grow
      img(src="img/ServerConfigDash.png")
      .title-box Server Config
.box
  .box-inner
    a(href='img/ChartOptionsModal.png' target='top').hvr-grow
      img(src="img/ChartOptionsModal.png")
      .title-box Options Modal
.box
  .box-inner
    a(href='img/Hamburger.png' target='top').hvr-grow.skinny
      img(src="img/Hamburger.png")
      .title-box  Menu
.box
  .box-inner
    a(href='img/NewUI-Empty.png' target='top').hvr-grow
      img(src="img/NewUI-Empty.png")
      .title-box Clean Dashboar
.box
  .box-inner
    a(href='img/NewUI-Navigation.png' target='top').hvr-grow
      img(src="img/NewUI-Navigation.png")
      .title-box Right-Side Navigation
.box
  .box-inner
    a(href='img/NewUI-ChartOptions.png' target='top').hvr-grow
      img(src="img/NewUI-ChartOptions.png")
      .title-box Left-Side Options

p.title Rufus Putnam Lodge - Original vs New
.box
  .box-inner
    a(href='img/RPLSS1.png' target='top').hvr-grow
      img(src="img/RPLSS1.jpg")
      .title-box Original Dashboard-Desktop
.box
  .box-inner
    a(href='img/RPLSS2.png' target='top').hvr-grow
      img(src="img/RPLSS2.jpg")
      .title-box Original Dashboard-Mobile
.box
  .box-inner
    a(href='img/RPLOnePage.png' target='top').hvr-grow
      img(src="img/RPLOnePage.jpg")
      .title-box New Member Center-Desktop
.box
  .box-inner
.box
  .box-inner

p.title Mobile Designs &amp; Logos
.box
  .box-inner
    a(href='img/iPhone_Dashboard.png' target='top').hvr-grow
      img(src="img/iPhone_Dashboard.png")
      .title-box iPhone Dashboard
.box
  .box-inner
    a(href='img/iPhone_Projects.png' target='top').hvr-grow
      img(src="img/iPhone_Projects.jpg")
      .title-box iPhone Project Listing
.box
  .box-inner
    a(href='img/iPhone_Search.png' target='top').hvr-grow
      img(src="img/iPhone_Search.jpg")
      .title-box Search on iPhone
.box
  .box-inner
    a(href='img/mmesa_copyright.jpg' target='top').hvr-grow
      img(src="img/mmesa_copyright.jpg")
      .title-box Logo Design