.col-sm-12
  .jumbotron
    .row
      .col-sm-8
        h1 Hi.
        h2 My name is <b>Adam Jolicoeur.</b>
        p This is <b>adamjolicoeur.com</b>; a site designed by me to display my work in web development and design.
      .col-sm-4
        img(src="img/headshot.jpg", alt="#").img-headshot.mobile-center
