.container.main-content
    article.intro(style="display: inline-block")
        h1 Hi.
        h2 My name is <b>Adam Jolicoeur</b>
        h3 I love what I do and bring that passion to every project that I work on.
    img(src="img/headshot.jpg").headshot
    article.row-explore
        br
        a(href='portfolio.html')
            button.primary-btn Explore My Site