.col-xs-12
  .jumbotron.slogan
    h2 I design and create amazing things.
    p.lead From personal to professional, I create products that everyone can use and love.
    p.lead See my &nbsp;
      a(href="http://www.coroflot.com/ajolicoeur/portfolio", target="top") Coroflot
      &nbsp; page for a larger array of selections.
    hr
  .jumbotron
    .row
      .col-md-12
        h2 RufusPutnamLodge.org
        p orignal design &amp; redesign
      .col-md-4
        a(href="img/RPLSS1.png", target="top")
          img(src="img/RPLSS1.jpg", alt="#").img-thumb.img-headshot
        p.subtitle
          i
            small original design - desktop
      .col-md-4
        a(href="img/RPLOnePage.png", target="top")
          img(src="img/RPLOnePage.jpg", alt="#").img-thumb.img-headshot
        p.subtitle
          i
            small redesign - in progress
      .col-md-4
        a(href="img/RPLSS2.png", target="top")
          img(src="img/RPLSS2.jpg", alt="#").img-thumb.img-headshot
        p.subtitle
          i
            small original design - mobile app
    .row
      hr
    .row
      .col-md-12
        h2 Redesign and Mockups
      .col-md-4.col-md-offset-4
        a(href="img/Dashboard.png", target="top")
          img(src="img/Dashboard.jpg", alt="#").img-thumb.img-headshot
        p.subtitle
          i
            small dashboard concept
