.col-xs-12
  .jumbotron.slogan
    h2 A list of software and technologies I use.
    p.lead Ever changing, always expanding.
    hr
  .jumbotron
    .row
      .col-sm-6
        h2 Software
        p
          ul.unstyled
            li Atom
            li Sublime Text 2
            li CodeKit (for LESS processing)
            li Balsamiq Mockups
            li Tower (GitTower)
            li Adobe Photoshop CS5
            li Pixelmator
            li MAMP
            li iTerm
      .col-sm-6
        h2 Technologies
        p
          ul.unstyled
            li Jade
            li HTML5
            li CSS3
            li LESS
            li Bootstrap 3.0.3
            li Bower Components