.col-xs-12
  .jumbotron.slogan.center
    h2 A list of software, technologies, and princples that I've used.
    p.lead Ever changing, always expanding.
    hr
  .jumbotron
    .row
      .col-sm-4
        h2 Software
        p
          ul.unstyled
            li Axure RP Pro 7
            li Adobe Photoshop CC 2015
            li Adobe Illustrator CC 2015
            li Camtasia Studio 8
            li Balsamiq Mockups 3
            li Atom
            li Sublime Text 3
            li CodeKit (for LESS processing)
            li Balsamiq Mockups
            li Tower (GitTower)
            li Pixelmator
            li MAMP
            li
                a(href='https://github.com/mindreeper2420/iTerm-Settings').orange iTerm (fish)
      .col-sm-4
        h2 Technologies
        p
          ul.unstyled
            li Jade
            li HTML5
            li CSS3
            li SASS (scss)
            li LESS
            li Grunt
            li Bootstrap
            li Bower
      .col-sm-4
        h2 Principles
        p
          ul.unstyled
            li Scrum
            li Agile
            li A/B Testing