footer
    p(style="text-align: center;").copyright &copy; Adam J. Jolicoeur - 2008-2015

script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
script(src='js/cbpHorizontalMenu.min.js')
script(src='js/gamingapp.js')
script.
  $(function() {
  cbpHorizontalMenu.init();
  });