hr
footer.center
  .col-md-12
    p &copy; Adam J. Jolicoeur - 2014
    p
      ul.list-inline
        li
          a(href="http://www.linkedin.com/in/ajjolicoeur/", target="top")
            .fa.fa-linkedin-square.fa-2x
        li
          a(href="https://github.com/mindreeper2420", target="top")
            .fa.fa-github.fa-2x

script(src='bower_components/bootstrap/dist/js/bootstrap.js')
