doctype html
html
  html(lang="en").no-js
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Adam J. Jolicoeur
  link(rel='icon', type='image/png' href='img/headshot.png')
  link(rel='stylesheet', href='css/normalize.css', type='text/css' )
  link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
  link(rel='stylesheet', href='css/default.css', type='text/css' )
  link(rel='stylesheet', href='css/component.css', type='text/css' )
  link(rel='stylesheet', href='css/hover.css', type='text/css' )
  link(rel='stylesheet', href='css/custom.css', type='text/css' )
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css')
body(style="height: 93%")