doctype html
html
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Adam J. Jolicoeur
  link(rel='icon', type='image/png' href='img/headshot.png')
  link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css', type='text/css' )
  link(rel='stylesheet', href='bower_components/fontawesome/css/font-awesome.min.css', type='text/css' )
  link(rel='stylesheet', href='css/navbar.css', type='text/css' )
  link(rel='stylesheet', href='css/custom.css', type='text/css' )
  link(rel='stylesheet', href='css/mobile.css', type='text/css' )
