.container.navigation
    .main
      nav#cbp-hrmenu.cbp-hrmenu
        span.pull-right.copyright
          a(href='index.html') &copy; Adam J. Jolicoeur, 2008-2015
        ul
          li
            a(href='#').fa.fa-map-signs.bold &nbsp; Explore
            .cbp-hrsub
              .cbp-hrsub-inner
                div
                  h4 Portfolio
                  ul
                    li
                      a(href='gallery.html').fa.fa-file-code-o &nbsp; Gallery of Designs
                    li
                      a(href='http://www.coroflot.com/ajolicoeur/portfolio').fa.fa-file-image-o &nbsp; Coroflot
                    //- li
                    //-   a(href='#').fa.fa-google-plus-square &nbsp; Google Slides
                div
                  h4 What I Use
                  ul
                    li
                      a(href='software.html').fa.fa-code &nbsp; Software, Technologies &amp; Practices
                div
                  h4 Projects
                  ul
                    //- li
                    //-   a(href='#').fa.fa-external-link &nbsp; Switchback, Inc.
                    li
                      a(href='http://www.thescouterslodge.org' target='top').fa.fa-external-link &nbsp; The Scouters Lodge.org
                    li
                      a(href='http://rufusputnamlodge.org' target='top').fa.fa-external-link &nbsp; Rufus Putnam Lodge.org
                    //- li
                    //-   a(href='gamingapp.html').fa.fa-external-link &nbsp; The Gaming App
          li
            a(href='#').fa.fa-hand-spock-o.bold &nbsp; Reach Out
            .cbp-hrsub
              .cbp-hrsub-inner
                div
                  h4 Resume
                  ul
                    li
                      a(href='resume.html').fa.fa-file-code-o &nbsp; HTML
                    li
                      a(href='resources/AdamJolicoeurResume_Web.pdf' target='top').fa.fa-file-pdf-o &nbsp; PDF
                    li
                      a(href='README.html' target='top').fa.fa-file-text-o &nbsp; Readme
                    li
                      a(href='https://www.behance.net/ajolicoeur' target='top').fa.fa-external-link &nbsp; Behance
                div
                  h4 Contact
                  ul
                    li
                      a(href='mailto:adam.jolicoeur@icloud.com?subject=Contact from AdamJolicoeur.com').fa.fa-envelope &nbsp; Email
                    li
                      a(href='https://www.linkedin.com/in/ajjolicoeur').fa.fa-linkedin-square &nbsp; LinkedIn
                    li
                      a(href='https://github.com/mindreeper2420').fa.fa-github &nbsp; GitHub
