.container.navigation
    .main
      nav#cbp-hrmenu.cbp-hrmenu
        span.home-header
          a(href='index.html').fa.fa-home.home-button &nbsp; Home
        ul
          li
            a(href='#').fa.fa-map-signs.bold &nbsp; Explore
            .cbp-hrsub
              .cbp-hrsub-inner
                div
                  h4 Portfolio
                  ul
                    li
                      a(href='portfolio.html').fa.fa-file-code-o &nbsp; HTML
                    li
                      a(href='http://www.coroflot.com/ajolicoeur/portfolio').fa.fa-file-image-o &nbsp; Coroflot
                    li
                      a(href='#').fa.fa-google-plus-square &nbsp; Google Slides
                div
                  h4 What I Use
                  ul
                    li
                      a(href='#').fa.fa-code &nbsp; Software
                    li
                      a(href='#').fa.fa-code-fork &nbsp; Technologies
                    li
                      a(href='#').fa.fa-comments-o &nbsp; Practices
                div
                  h4 Projects
                  ul
                    li
                      a(href='#').fa.fa-external-link &nbsp; Switchback, Inc.
                    li
                      a(href='#').fa.fa-external-link &nbsp; The Scouters Lodge.org
                    li
                      a(href='#').fa.fa-external-link &nbsp; Rufus Putnam Lodge.org
                    li
                      a(href='gamingapp.html').fa.fa-external-link &nbsp; The Gaming App
          li
            a(href='#').fa.fa-hand-spock-o.bold &nbsp; Reach Out
            .cbp-hrsub
              .cbp-hrsub-inner
                div
                  h4 Resume
                  ul
                    li
                      a(href='#').fa.fa-file-code-o &nbsp; HTML
                    li
                      a(href='#').fa.fa-file-pdf-o &nbsp; PDF
                    li
                      a(href='#').fa.fa-github-alt &nbsp; Markdown
                div
                  h4 Contact
                  ul
                    li
                      a(href='mailto:adam.jolicoeur@icloud.com').fa.fa-envelope &nbsp; Email
                    li
                      a(href='https://www.linkedin.com/in/ajjolicoeur').fa.fa-linkedin-square &nbsp; LinkedIn
                    li
                      a(href='https://github.com/mindreeper2420').fa.fa-github &nbsp; GitHub